#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-1 .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1 .mbr-brand__name a {
  font-size: 72px;
}
#ext_menu-1 .mbr-navbar__items a {
  font-size: 18px;
}
#header1-2 H1 {
  font-size: 32px;
}
#contacts1-h P {
  text-align: left;
}
#header4-2m P {
  text-align: left;
}
#ext_menu-i .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-i .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-i .mbr-brand__name a {
  font-size: 72px;
}
#ext_menu-i .mbr-navbar__items a {
  font-size: 18px;
}
#content1-2a DIV {
  color: #7c706b;
}
#contacts1-p P {
  text-align: left;
}
#ext_menu-16 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-16 .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-16 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-16 .mbr-brand__name a {
  font-size: 72px;
}
#ext_menu-16 .mbr-navbar__items a {
  font-size: 18px;
}
#header1-17 H1 {
  font-size: 32px;
  text-align: left;
}
#contacts1-1c P {
  text-align: left;
}
#ext_menu-q .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-q .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-q .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-q .mbr-brand__name a {
  font-size: 72px;
}
#ext_menu-q .mbr-navbar__items a {
  font-size: 18px;
}
#header1-r H1 {
  font-size: 32px;
}
#slider2-23 H1 {
  font-size: 46px;
  text-align: center;
  color: #28324e;
}
#slider2-22 H1 {
  font-size: 15px;
  color: #000000;
  text-align: left;
}
#contacts1-x P {
  text-align: left;
}
#ext_menu-1g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1g.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-1g .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-1g .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1g .mbr-brand__name a {
  font-size: 72px;
}
#ext_menu-1g .mbr-navbar__items a {
  font-size: 18px;
}
#header1-1h H1 {
  font-size: 32px;
}
#content1-2d DIV {
  color: #7c706b;
}
#slider2-26 H1 {
  color: #000000;
}
#msg-box5-2n .mbr-header__text {
  color: #ffffff;
}
#msg-box5-2n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-2n .mbr-article {
  color: #ffffff;
}
#contacts1-1n P {
  text-align: left;
}
